/* colors */
:root {
    --primary-color: #00a53f;
    --primary-colorD: #00a53f86;
    --secondary-color: rgb(255, 174, 0);
    --font-color: #1f1f1f;
    --secondary-font-color:rgb(228, 228, 228);
    --border-color: #009e3d;
    --secondary-border-color:#292b2c;
    --bg-color: #d1d1d1;
    --secondary-bg-color: rgb(53, 53, 53);
    --box-shadow:  0 0 20px #00000086;
}
  
[data-theme="dark"] {
    --primary-color: #3fca95;
    --primary-colorD: #00bd74;
    --secondary-color: rgb(255, 196, 0);
    --font-color: #f2fff8;
    --secondary-font-color:#313131;
    --border-color: #51fcba;
    --secondary-border-color: rgb(37, 37, 37);
    --bg-color: #292b2c;
    --secondary-bg-color:#d8d8d8;
    --box-shadow: 0 0 20px #51fcba41;
}

.p-border-color {
    border: solid;
   color: var(--border-color);
}


.p-outline {
    border-color:var(--primary-color);
}

.p-background-color {
    background-color: var(--bg-color);
}

.p-btn-color {
    background-color: var(--primary-color);
}
.p-btn-color:hover {
    background-color: var(--primary-colorD);
}

.s-background-color {
    background-color: var(--secondary-border-color);
}

.p-font-color {
    color: var(--font-color);
}

.p-primary-color {
    color: var(--primary-color);
}
.p-secondary-color {
    color: var(--secondary-color);
}

.m-lc {
    margin-left: 0px;
}

nav {
    box-shadow:var(--box-shadow) ;
}

nav a:hover {
    color: var(--secondary-color);
}


.theme-text {
    height: 7px;
}

.noWrap {
    white-space:nowrap;
}

.nav-brand-custom {
    margin-right: 4px;
}

/* row margin none */
.row-mn {
    margin-left: 0;
    margin-right: 0;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(102, 255, 184)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.custom-toggler.navbar-toggler {
    border-color: var(--primary-color);
} 

.custom-toggler.navbar-toggler:focus {
    outline: none;
    border-color: var(--secondary-color);
}
.custom-toggler.navbar-toggler:hover {
    outline: none;
    border-color: var(--secondary-color);
}

.theme-switch:hover {
    color:var(--secondary-font-color);
    background: var(--primary-color);
}

.img-fluid-custom {
    width: 75%;
    height: 75%;
    margin: 0 10%;
}


.resumeBtnC {
    display:flex;
    justify-content: center;
}

.resumeDBtn {
    margin: 10px;
}

.resumePBtn {
    margin: 10px;
}

.resumeT {
    margin: 0;
}

#about-me {
    padding-bottom: 0;
    margin-bottom: 1%;
}

#about-me h1 {
    margin-left: 3%;
    margin-top: 10px;
}

.main-card-body {
    /* height: 160px; */
    background-color: var(--secondary-bg-color);
    color: var(--secondary-font-color);
    padding-bottom: 2px;
}

.group-card-body {
    /* height: ;  */
    background-color: var(--secondary-bg-color);
    color: var(--secondary-font-color);
    padding-bottom: 2px;
}

.group-img-height {
    /* height: 200px; */
    border: none;
}

.card-footer {
    background-color:var(--secondary-bg-color); ;
    border: none;
}
.bottom-right {
    position: absolute;
    top: 50px;
    right: 30px;
}

.q1 {
    color: var(--secondary-color);
    font-size: 30px;
}

.q2 {
    color:white;
    font-size: 30px;
}

.q3 {
    color:white;
    font-size: 30px;
}

.q4 {
    color:var(--secondary-color);
    font-size: 30px;
}

.q5 {
    color:white;
    font-size: 30px;
}

.q6 {
    color:var(--secondary-color);
    font-size: 30px;
}

.q7 {
    color:white;
    font-size: 30px;
}

.paddingTop {
    padding-top: 20px;
}

.img-border-width {
    border-right: none;
    cursor: none;
}

/* compiled css for css transitions */
  
@keyframes animated-border {
  0% {
    box-shadow: 0 0 0 0 rgba(251, 186, 5, 0.671);
  }
  100% {
     box-shadow: 0 0 25px 10px rgba(255,255,255,0);
  }
}


.customCard {
    border:solid 2px var(--border-color);
    outline: none;
    background-color: var(--border-color);
    border-radius: 3px;
    box-shadow: none;
}

.customCard:hover {
animation: animated-border 1.5s infinite;
border-color: var(--secondary-color);
background-color: var(--secondary-color);
}

.custom-length-pm {
    width: 66%;
}

.custom-length-sm {
    width: 29%;
}

.custom-length-ps {
    width: 66%;
}

.custom-length-ss {
    width: 29%;
}

.textS {
    text-shadow: 2px 1px 0px var(--secondary-color);
}

footer {
    margin-top: 50px;
}

/* swing effect */
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing {
    -webkit-animation: swing 6s ease;
    animation: swing 6s ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.refract {
    color: rgb(0, 110, 255);
}
.javascript {
    color:rgb(255, 31, 31);
}
.moment {
    color:rgb(255, 128, 128);
}
.css {
    color: green;
}
.html {
    color: rgb(25, 25, 255);
}

/*gradient text colors */
.linear-wipe {
  /* text-align: center; */
  
  background: linear-gradient(to right, var(--primary-color) 20%, var(--font-color) 40%,var(--font-color) 60%, var(--primary-color) 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 10s linear infinite;
 @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}
@keyframes shine {
    to {
      background-position: 200% center;
    }
}

/* responsive skill bar properties */

@keyframes animated-borderSkills {
  0% {
    box-shadow: 0 0 0 0 rgb(255, 187, 0);
  }
  100% {
     box-shadow: 0 0 20px 2px rgba(255,255,255,0);
  }
}

@keyframes animated-borderSkillC {
    0% {
      box-shadow: 0 0 0 0 rgb(250, 38, 38);
    }
    100% {
       box-shadow: 0 0 20px 2px rgba(255,255,255,0);
    }
  }

  
.skillsWrapper {
     /* margin: 0 auto; */
     margin-bottom: 100px;
     margin-top: 20px;
     padding: 0 50px;
}

.skillsT {
    text-align: center;
    padding: 0;
    margin:0;
    margin-top: 60px;
}

.skillbar {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 20px;
}

.skillbar-bar:before {
  background: #111;
  content: "";
  height: 3px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.skillbar-bar {
  height: 3px;
  width: 0px;
  background: rgb(255, 187, 0);
  animation: animated-borderSkills 1.5s infinite;
  transition-property: width, background-color;
}

.skillbar-title {
  color: var(--font-color);
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
}

.skill-bar-percent {
  float: right;
  color: var(--font-color);
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid var(--primary-colorD);
}

/* spinning cog wheel */
#gear1, #gear2, #gear3 {
    color: var(--primary-color);
    /* display: block; */
    float: right;
    position: absolute;
    font-size: 20px;
    text-shadow: none;
}
            
#gear1 {
    font-size: 40px;
   margin-left: 5px;
   margin-top: 7px;
   color: var(--primary-color);
}
            
#gear2 {
    margin-left: 45px;
    margin-top: 5px;
    color: var(--secondary-color);
}

#gear3 {
    margin-left: 45px;
    margin-top: 28px;
    color: var(--secondary-color);
}

.spin {
    -webkit-animation:spin 20s linear infinite;
    -moz-animation:spin 20s linear infinite;
    animation:spin 20s linear infinite;
}

.spin-back {
    -webkit-animation:spin-back 15s linear infinite;
    -moz-animation:spin-back 15s linear infinite;
    animation:spin-back 15s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes spin-back { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin-back { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin-back { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }


@media screen and (max-width: 845px) {
    .main-card-body p{
        font-size: 12px;
    }
}

@media screen and (max-width: 530px) {
    .main-card-body {
        /* height: 185px; */
    }
}

@media screen and (min-width: 600px) {
    .headerImg {
        height: 300px;
        overflow: hidden;
    }
}

@media screen and (max-width: 990px) {
    .m-lc {
        margin-left: 10px;
    }
}

@media screen and (max-width: 470px) {
    .quote p {
        font-size: 25px;
    }
}

@media screen and (max-width: 430px) {
    .quote p {
        font-size: 20px;
    }
}

@media screen and (max-width: 375px) {
    .quote p {
        font-size: 18px;
    }
    .resumeDBtn {
        width: 50%;
        font-size: 10px;
    }
    .resumePBtn {
        width: 50%;
        font-size: 10px;
    }
}

@media screen and (max-width: 345px) {
    .quote p {
        font-size: 16px;
    }
}

@media screen and (max-width: 326px) {
    .quote p {
        font-size: 13px;
    }
}

@media screen and (max-width: 295px) {
    .quote p {
        font-size: 10px;
    }
    .resumeDBtn {
        width: 70%;
        font-size: 2px;
    }
    .resumePBtn {
        width: 65%;
        font-size: 2px;
    }
}

@media screen and (max-width: 261px) {
    .quote p {
        font-size: 1px !important;
    }
}

@media screen and (max-width: 690px) {
    .resumeT {
        margin-top: 60px;
    }
 
    #about-me {
        margin-top: 20px;
    }
    #about-me h1 {
        margin-top: 40px;
    }
}