:root {
  --primary-color: #3b483d;
  --secondary-color: #536390;
  --font-color: #333333;
  --secondary-font-color: white;
  --bg-color: #fff;
  --border-color: black;
  --secondary-border-color: yellow;
  --secondary-bg-color: rgb(175, 175, 175);
  --heading-color: #3b483d;
  --box-shadow:  rgba(0, 0, 0, 0.15) 2px 4px 10px 2px;
  --secondary-box-shadow: none;
  --text-shadow: 0 0 15px rgb(169, 185, 240);
  --password-color: #cc0000;
}

[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --secondary-bg-color:#26263f;
  --heading-color: #818cab;
  --box-shadow: 0 0 8px black;
  --text-shadow: 0 1px 10px rgb(136, 86, 255);
  --secondary-box-shadow: 0 0 15px rgba(81, 32, 216, 0.911);
  --password-color: rgba(196, 180, 240, 0.911);
}



* {
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

html {
    height: 100%;
    display: grid;
}

body {
    background-color: var(--bg-color);
    /* display: grid; */
}

header {
    background-color: var(--heading-color);
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 2% 0 0;
    margin: 0;
    box-shadow: 0 0px 20px ;
}

/* my name in the header */
.header-title h1 {
    color: var(--secondary-font-color);
    font-family: 'Noto Sans JP', sans-serif ;
    font-size: 30px;
    background-color: #c9815c;
    border: solid;
    border-color:#b6b630;
    border-bottom: hidden;
    width: 100%;
    padding: 3%;
    margin: 0 9px;
    text-shadow: 0 0 5px #FFFF66;
    white-space: nowrap;
}
/* Elements for Nav box controls */
.nav {
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    min-width: 500px;
    list-style-type: none;
    position: absolute;
    right: 1%;
    bottom: 5px;
}
/* Nav anchor elements */
nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background: none;
    color: white;
    padding: 0 10px;
    text-shadow: 0 0 20px #FFFF66;
}

/* puts pseudo on nav anchor elements */
nav a:hover {
    background-color: #c9815c;
    color:black;
}

nav a:active {
    box-shadow: 0 0 10px #000 inset;
}

/* helps the middle img fit multiple res */
.center-img {
    width: 100%;
    /* margin: auto; */
    border-bottom: solid;
    border-color: rgb(184, 184, 184);
}

.container {
    width: 100%
}

.head-container {
    display: flex;
    /* width: 100%; */
}

.about-me-card {
    width: 65%;
    background-color: var(--secondary-bg-color);
    margin: 2% auto;
    border: solid;
    border-color: var(--border-color);
}

.about-me-head {
    text-align: center;
    font-size: 35px;
    padding: 1% 0;
    background-color: var(--heading-color);
    color: var(--secondary-font-color);
}

.about-me-body {
}

.about-me-p {
    color: var(--font-color);
    font-size: 25px;
    /* padding: 2%; */
    height: 96%;
    /* top | right | bottom | left */
    /* margin-top: 20px; */
    text-align: justify;
    padding: 2%;
    text-shadow: var(--text-shadow) ;
}

.about-me-img {
    float: right;
    border: solid;
    border-color: var(--secondary-border-color);
    width: 300px;
    height: 220px;
    /* top | right | bottom | left */
    margin: 20px 2% 1% 1%;
}

.contact-card {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 2% auto;
    background-color: var(--secondary-bg-color);
    border: solid;
    border-color: var(--border-color);
}

.contact-head {
    background-color: var(--heading-color);
    color: var(--secondary-font-color);
    font-size: 35px;
    padding: 3% 0;
    white-space: nowrap;
    text-align: center
}

.contact-body {
    height: 100%;
}

.contact-me {
    display: flex;
    flex-direction: column;
    height: inherit;
}

.contact-me li {
    margin: auto;
}

.contact-me a {
    text-decoration: none;
    color: var(--secondary-font-color);
    border:solid;
    border-color: var(--secondary-border-color);
    /* font-size: 15px; */
    padding: 5px 7px;
    background: var(--heading-color);
}

/* next to classes center the h2 tag to align with other sections */


/* if needed, elements for p for about me  */
.work-container {
    /* display: flex; */
    /* width: 100%; */
    /* height: 100%; */
}

.work-card {
    /* width: 95%; */
    margin: 1% 5%;
    background-color: var(--secondary-bg-color);
    border: solid;
    border-color: var(--border-color);
}

/* same as before, helps the h2 tag align with other h2 tags */
.work-head {
    /* padding: 15px 50px 15px 53px; */
    /* margin-top: 240px; */
    text-align: center;
    font-size: 35px;
    background-color: var(--heading-color);
    padding: 1%;
    color: var(--secondary-font-color);

}

.work-body {
    /* width: 100%; */
    /* margin-left: 56px; */
    /* background-color: rgb(93, 92, 92); */
}

/* wraps the content and turns them into flex-boxes */
.work-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1%;
}

.work-list li {
    /* height: 450px; */
    /* width:750px; */
    /* margin:1%; */
}

/* elements inside work boxes */
.work-list li a {
    text-decoration: none;
    height: inherit;
    width: inherit;
}

.main-list {
    height: 448px;
    width:745px;
    margin: 1%;
}


/* imagine border, one for main and one for all others */
.main-slide-img {
    border: solid;
    border-color: var(--secondary-border-color);
    width: inherit;
    height: inherit;
}

/* slide titles one for main and one for all others */
.main-img-title {
    position: absolute;
    color: var(--font-color);
    background-color: var(--secondary-border-color);
    font-size: 50px;
    padding: 5px 20px;
    margin: 30px 3px;
    text-shadow: var(--text-shadow);
    white-space: nowrap;
}

.sec-list {
    margin: 1%;
}

.slide-img {
    border: solid;
    border-color: var(--secondary-border-color);
    width: 366px;
    height: 220px;
}

#margin1 {
/* top | right | bottom | left */
    /* margin: 0px 6px 6px 0; */

}

#margin2 {
    /* margin: 0px 0 6px 6px; */
}

#margin3 {
    /* margin: 6px 6px 0 0; */
}

#margin4 {
    /* margin: 6px 0 0 6px; */
}

.img-title {
    position: absolute;
    color: var(--font-color);
    font-size: 25px;
    background-color: var(--secondary-border-color);
    padding: 3px 5px;
    margin: 15px 3px;
    text-shadow: var(--text-shadow);
    white-space: nowrap;
}
/* setting box for smaller boxes to flex */

.box-box {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    height: 455px;
    width:745px;
    /* justify-content: center; */
    /* margin: 1%; */
}

.box-box li {
    list-style-type: none;
}


/* hover element to change img border to black onces hovering */
.work-list img:hover {
    opacity: 90%;
    border-color: green;
}

.work-list a h3:hover {
    /* background-color: green; */
}


footer {
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    padding: 2%;
    background-color: var(--heading-color);
    height:max-content;
}

@media screen and (max-width: 1300px) {
    .about-me-p {
      font-size: 25px;
    }
}

@media screen and (max-width: 1400px) {
    .img-title {
      font-size: 35px;
    }
}

